<footer class="p-5 navbar-css text-white text-center position-relative">
    <div class="container">
        <p class="lead mug-text">COPYRIGHT &copy; Devin Madrigal</p>
        <a href="#" class="position-abasolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1 mug-text"></i>
        </a>
    </div>
</footer>