<section class="bg-still-image">

    <!--Beans-->
    <section id="beans">
        <section>
            <div class="container">
                <div class="row text-center">
                    <h1 class="display-5 mt-5 fw-bold roasts-beige-title text-light">Bean in the Know</h1>
                    <div class="heading-line mb-5">
    
                    </div>
                </div>
            </div>
        </section>
    </section>
    
    <section class="p-5 bg-white" id="getting-started-beans">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="/img/coffee-beans-bag.png" class="img-fluid" alt="">
    
                </div>
                <div class="col-md p-5">
                    <h2>Coffee Bean Guide</h2>
                    <p class="lead">
                        To create a truly great cup of coffee or shot of espresso you need two things: high-quality equipment and high-quality coffee beans. The type of bean you use combined with your chosen equipment is the determining factor to the taste, flavor, and satisfaction you get out of your cup of coffee or shot of espresso.
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <p class="lead">
                    There are 3 keys to unlocking the flavor of your chosen bean: first is knowing what type of bean species you are purchasing, second is understanding your beans origins and its effect on flavor, and third is learning about the different roasts and their effects on the overall taste of your brew.
                </p>
            </div>
        </div>
    </section>
    
    <section class="mug-beige" id="two-beans">
        <div class="container">
            <!--Know your roasts-->
            <div class="row px-4 my-5">
    
                <div class="col-lg-6 col-md-6 com-sm12 col-xc-12 services mt-4">
                    <div class="services__content">
                        <h3 class="display-3--title mt-1">Arabica vs Robusta</h3>
                        <p class="lh-md">First thing to know about coffee beans is that there are two distinct species of coffee beans: Arabica and Robusta. </p>
                        <p class="lh-md">In general, Arabica coffee beans are grown at high altitudes, cultivated with the care that a vintner may show his grapes. They carry twice the number of chromosomes that a Robusta bean carries and tend to even look different before roasting. Where Robusta beans are pale green with a brown tint, Arabica beans are deep green and slightly larger in size to boot.</p>
                        <p class="lh-md">While Robusta beans are definitely the hardier crop, Arabica beans produce a much superior brew whose flavors will be milder, more aromatic, and overall less bitter than those produced by Robusta beans. This is what makes Arabica blends richer in every sense of the word. Robusta beans are really all about function. Since they are a hearty and economical crop, the beans they produce are oftentimes used for blends. Sometimes the combination of Arabica and Robusta is just right for lighter roasts.
    
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-6 com-sm12 col-xc-12 services mt-4">
                    <div class="services__content">
                        <div class="services__content">
                            <img src="/img/arabica-robusta-coffee-beans.png" alt="marketing illustration"  class="img-fluid d-none d-md-block">
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <!--Different Roasts Boxes-->
    <section class="my-5 mug-orange" id="bean-origins">
        <div class="container">
    
            <div class="container">
                <div class="row py-2 mt-5 mb-3">
                    <div class="col-md-6">
                        <div class="p-4">
                            <h2 class="f2-bold text-center">Origins of the Bean</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-4 text-start">
                            <p class="fw-light">Where a coffee bean "grows up" will determine their flavor characteristics upon brewing no matter how darkly they are roasted or how they are brewed. Generally, there are 3 world regions where the finest coffee beans originate and each region produces coffee with unique and distinct flavors.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row text-center g-3">
    
                <!--Latin card-->
                <div class="col-md-4 d-flex align-items-stretch mb-4">
                    <div class="card mug-beige text-light">
                        <div class="card-body text-center px-0 py-2">
                            <div class="h1 mb-3">
                                <img src="/img/lat-am.png" class="card-img-top" alt="...">
                            </div>
                            <h3 class="card-title mb-3 dark-roast-text">Latin America</h3>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Light body, sweet, balanced and with high acidity</p>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                To preserve the brightness and downplay bitterness, these beans should have a mild to medium roast</p>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Beans from Latin America are easily enjoyed with all breakfast foods, toasts, and muffins</p>
                        </div>
                    </div>
                </div>
    
                <!-- Africa/Arabia card-->
                <div class="col-md-4 d-flex align-items-stretch mb-4">
                    <div class="card mug-beige text-light">
                        <div class="card-body text-center px-0 py-2">
                            <div class="h1 mb-3">
                                <img src="/img/african-coffee.png" class="card-img-top" alt="...">
                            </div>
                            <h3 class="card-title mb-3 dark-roast-text">Africa/Arabia</h3>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Medium body and acidity with an almost syrupy feel</p>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Recommended roast for coffee from this region is dark, to balance the complex flavors that can range from spicy to chocolaty, rom wine-like to citrus-like</p>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Enjoy beans from this region with milk chocolate or cheese tarts</p>
                        </div>
                    </div>
                </div>
    
                <!--Indonesia/Pacific Islands card-->
                <div class="col-md-4 d-flex align-items-stretch mb-4">
                    <div class="card mug-beige text-light">
                        <div class="card-body text-center px-0 py-2">
                            <div class="h1 mb-3">
                                <img src="/img/question-coffee.png" class="card-img-top" alt="...">
                            </div>
                            <h3 class="card-title mb-3 dark-roast-text">Indonesia and the Pacific Islands</h3>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Heavy body with low acidity. Hearty and earthy flavors</p>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                This robust blend should be roasted dark to very dark for a hearty brew that preserves the beans smooth and flowery undertones</p>
                            <p class="card-text py-1 px-4 text-sm dark-roast-text">
                                Brews of this region's beans are truly enjoyable with dark chocolate, caramel, and other rich desserts. Or enjoy a cup on its own; after all, it is an independent brew!</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
</section>
