<!--Roasts-->
<section class="bg-still-image">

    <section id="roasts">
        <section class="bg-still-image">
            <div class="container">
                <div class="row text-center">
                    <h1 class="display-5 mt-5 fw-bold roasts-beige-title text-light">Know your Roasts</h1>
                    <div class="heading-line mb-5">
        
                    </div>
                </div>
            </div>
        </section>
    </section>
    
    <section id="roast-guide" class="bg-white">
        <div class="container">
            <div class="row justify-content-center py-2 mt-5 mb-3">
                <div class="col-md-6">
                    <div class="bg-white p-4">
                        <h2 class="f2-bold text-capitalize text-center">Coffee Roast Guide</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-white p-4 text-start">
                        <p class="fw-light">Roasting is a heat process that turns coffee into the fragrant, dark brown beans we know and love.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="mug-beige" id="why-roast">
        <div class="container">
            <!--Why Roast?-->
            <div class="row px-4 my-5">
    
                <div class="col-lg-6 col-md-6 com-sm12 col-xc-12 services mt-4">
                    <div class="services__content">
                        <i class="fa-solid fa-mug-saucer"></i>
                        <h3 class="display-3--title mt-1">Why Roast?</h3>
                        <p class="lh-md">Roasting brings out the aroma and flavor that is locked inside the green coffee beans. Beans are stored green, a state in which they can be kept without loss of quality or taste.  A green bean has none of the characteristics of a roasted bean -- it’s soft and spongy to the bite and smells grassy. </p>
                        <p class="lh-md">Roasting causes chemical changes to take place as the beans are rapidly brought to very high temperatures. When they reach the peak of perfection, they are quickly cooled to stop the process. Roasted beans smell like coffee, and weigh less because the moisture has been roasted out. They are crunchy to the bite, ready to be ground and brewed.
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-6 com-sm12 col-xc-12 services mt-4">
                    <div class="services__content">
                        <img src="/img/undraw_coffee_re_x35h.svg" alt="marketing illustration" class="img-fluid d-none d-md-block">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mug-orange" id="know-your-roast">
        <div class="container">
            <!--Know your roasts-->
            <div class="row px-4 my-5">
    
                <div class="col-lg-6 col-md-6 com-sm12 col-xc-12 services mt-4">
                    <div class="services__content">
                        <div class="services__content">
                            <img src="/img/undraw_barista_507s.svg" alt="marketing illustration"  class="img-fluid shrink-image d-none d-md-block">
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-6 com-sm12 col-xc-12 services mt-4">
                    <div class="services__content">
                        <i class="fa-solid fa-fire"></i>
                        <h3 class="display-3--title mt-1">Know your roasts</h3>
                        <p class="lh-md">Most roasters have specialized names for their favored roasts and there is very little industry standardization. This can cause some confusion when you’re buying, but in general, roasts fall into one of four color categories — light, medium, medium-dark and dark.</p>
                        <p class="lh-md">Many consumers assume that the strong, rich flavor of darker roasts indicates a higher level of caffeine, but the truth is that light roasts actually have a slightly higher concentration.</p>
                        <p class="lh-md">The perfect roast is a personal choice that is sometimes influenced by national preference or geographic location. Within the four color categories, you are likely to find common roasts as listed below. It’s a good idea to ask before you buy. There can be a world of difference between roasts.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    
        <!--Different Roasts Boxes-->
        <section class="my-5 navbar-css" id="different-roasts">
            <div class="container">
                <div class="row text-center g-4">
    
                    <!--Light roast card-->
                    <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-4">
                        <div class="card bg-light-roast text-light">
                            <div class="card-body text-center px-0 py-2">
                                <div class="h1 mb-3">
                                    <i class="fa-thin fa-clock"></i>
                                </div>
                                <h3 class="card-title mb-3">Light Roast</h3>
                                <p class="card-text py-4 px-4 text-sm">
                                    Light brown in color, this roast is generally preferred for milder coffee varieties. There will be no oil on the surface of these beans because they are not roasted long enough for the oils to break through to the surface.
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <!--Medium roast card-->
                    <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-4">
                        <div class="card bg-medium-roast text-light">
                            <div class="card-body text-center px-0 py-2">
                                <div class="h1 mb-3">
                                    <i class="fa-light fa-clock"></i>
                                </div>
                                <h3 class="card-title mb-3">Medium Roast</h3>
                                <p class="card-text py-4 px-4 text-sm">
                                    This roast is medium brown in color with a stronger flavor and a non-oily surface. It’s often referred to as the American roast because it is generally preferred in the United States.</p>
                            </div>
                        </div>
                    </div>
    
                    <!--Medium dark roast card-->
                    <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-4">
                        <div class="card bg-medium-dark-roast text-light">
                            <div class="card-body text-center px-0 py-2">
                                <div class="h1 mb-3">
                                    <i class="fa-regular fa-clock"></i>
                                </div>
                                <h3 class="card-title mb-3">Medium Dark Roast</h3>
                                <p class="card-text py-4 px-4 text-sm">
                                    Rich, dark color, this roast has some oil on the surface and with a slight bittersweet aftertaste.</p>
                            </div>
                        </div>
                    </div>
    
                    <!--Dark roast card-->
                    <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-4">
                        <div class="card bg-dark-roast text-light">
                            <div class="card-body text-center px-0 py-2">
                                <div class="h1 mb-3">
                                    <i class="fa-solid fa-clock"></i>
                                </div>
                                <h3 class="card-title mb-3">Dark Roast</h3>
                                <p class="card-text py-4 px-4 text-sm">
                                    This roast produces shiny black beans with an oily surface and a pronounced bitterness. The darker the roast, the less acidity will be found in the coffee beverage.  Dark roast coffees run from slightly dark to charred, and the names are often used interchangeably — be sure to check your beans before you buy them!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</section>